@{
    ViewData["Title"] = "Shape Import Page";
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v7.1.0/ol.css">
    <script src="https://cdn.jsdelivr.net/npm/ol@v7.1.0/dist/ol.js"></script>
    <script src="https://unpkg.com/ol-layerswitcher@4.1.1"></script>
    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@4.1.1/dist/ol-layerswitcher.css" />
    <link rel="stylesheet" href="~/css/layer.css">
}
 <a class="back" asp-area="" asp-controller="Home" asp-action="Index"><img class="upload" src="~/img/back.png"></a>
<div class="row">
    <div class="col-md-4">
        <h3 class="center-h1">Загрузка слоя</h3>
        <form asp-action="AddFile" asp-controller="Shape" method="post" enctype="multipart/form-data"> <!--Вызов действи AddFile при отправки формы-->
            @if ((User.IsInRole("Provider")) ){
            <label>Тип слоя: <br>
            <input type="radio" id="" value="raster" name="uploadType"> Растровый слой <br>
            <input type="radio" value="vector" name="uploadType" checked="true"> Векторный слой 
            </label>
            }
            @if ((User.IsInRole("User")) ){
                <input type="hidden" value="vector" name="uploadType">
            }
            <label>
            <input type="file"  accept=".zip, .rar, .7zip, image/bmp, image/jpg, image/jpeg, image/png, image/tif, image/tiff, application/pdf, .tif" name="uploadedFile"><br>
            </label>
            <label>
            <button type="submit" class="btn btn-primary" value="Загрузить">Загрузить</button>
            </label>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/elm-pep@1.0.6/dist/elm-pep.js"></script>