html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/*
#table th {
  position: sticky;
  top: 0;
  background-color: darksalmon;
}
		
#table_wms_layers {

      white-space:nowrap;
	  border-collapse: separate;
	  font-family: arial;
  font-size:14px;
     
}
#table_wms_layers th {
  position: sticky;
  top: 0;
  background-color: darksalmon;
}

	 
#wms_layers_btn{
  position: absolute;
  z-index:500;
	  top: 1%;
     left: 60%;
        }
				#data{
          width: 60%; 
        }
		 #table_data{
	        position: absolute;
			bottom: 0%;
			overflow: scroll;
            left: 20%;
			right: 0%;
			height: 0%;
			border: 1px solid #4CAF50;
	  }
		#table{
	    white-space:nowrap;
		grid-template-areas:"head-fixed" "body-scrollable";
                 }
*/

.upload {
  height: 30px;
}


.pb-3 {
  padding-bottom: 0rem !important;
}

.logo {
  height: 48px;
}
.center-h1 {
  text-align: center;
}
.row {
  --bs-gutter-x: 0;
  justify-content: center;
}